.span-h2-underline {
    padding-bottom: 8px;
    border-bottom: 2px solid #34b7a7;
    color: #555555;
    text-transform: uppercase;
  }

  h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }

  h5, h3 {
    color: #555555;
  }
/* 
  .btn {
    background-color: #34b7a7;
    color: white;
    
    

  } */

  .footer-copyright {
    background-color: rgba(0,0,0,0.2);
  }

  .jumbotron {
    box-shadow: none;
  }